.socialLogin 
  button.social-login__github
    span
      <i class="fab fa-github"></i>
      |  Continue with Github
     
  button.social-login__facebook
    span
      <i class="fab fa-facebook-square"></i>
      |  Continue with Facebook

  button.social-login__facebook
    span
      <i class="fab fa-weixin"></i>
      |  Continue with Wechat

      