body {
  padding-top: 70px;
  display: flex;
  justify-content: center;
}
.header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f8c7c1;
}
.headerLogo {
  font-weight: 600;
  font-size: 20px;
}
.headerLogo i {
  font-size: 50px;
  color: $red;
  vertical-align: middle;
  margin-right: 5px;
}
.headerFormContainer {
  border: 1px solid gray;
}
.headerInput {
  width: 400px;
  padding: 4px;
  border: none;
}

.joinLoginContainer ul {
  display: flex;
}
.joinLoginContainer ul li {
  margin: 10px;
}
.joinBox {
  border-radius: 30px;
  width: 70px;
  padding: 5px 10px;
  background-color: #70c5c0;
  box-shadow: 6px 6px 6px rgba($color: #000000, $alpha: 0.2);
  text-align: center;
}
.joinBox a {
  text-decoration: none;
  color: white;
}

.loginBox {
  border-radius: 30px;
  width: 70px;
  padding: 5px 10px;
  background-color: #70c5c0;
  box-shadow: 6px 6px 6px rgba($color: #000000, $alpha: 0.2);
  text-align: center;
}
.loginBox a {
  text-decoration: none;
  color: white;
}
