body {
  padding-left: 180px;
}
aside {
  padding: 10px;
  height: 100vh;
  width: 170px;
  background-color: #f9f9f9;
  float: left;
  margin-right: 10px;
  position: fixed;
  top: 70px;
  left: 0;
  border-radius: 10px;
}
