.join-form-container {
  width: 400px;
  height: 500px;
  background-color: lightyellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.join-form-container form {
  display: flex;
  flex-direction: column;
}
